.lostpassword {
  max-width: 600px;
  margin: 30px;
  height: 77.9vh;
}

.lostpassword input [type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 500px;
}

.lostpassword input[type="submit"] {
  padding: 10px 20px;
  background-color: #2457cf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lostpassword input[type="submit"]:hover {
  background-color: #444;
}

.lostpassword label {
  font-size: 14px;
  margin-bottom: 10px;
  display: inline;
  text-align: left;
}
.logout {
  position: absolute;
  top: 60px;
  right: 30px;
}

.logout button {
  padding: 5px 5px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout button:hover {
  background-color: #2457cf;
  color: #ffffff;
}
