.help {
  height: 87.8vh;
}
.it {
  padding: 0px;
  margin-left: 30px;
  margin-right: 30px;
}

.call {
  align-items: center;
  text-align: left;
  font-size: 14px;
}
.helpdesk {
  height: 250px;
  width: 250px;
}

.logout {
  position: absolute;
  top: 60px;
  right: 30px;
}

.logout button {
  padding: 5px 5px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout button:hover {
  background-color: #2457cf;
  color: #ffffff;
}
